.App {
  text-align: center;
  background-color: #EFEFF4;
  height: 100%;
}

.App-header {
  background-color: #09245B;
  position: fixed;
  width: 100%;
  font-size: 1.3em;
  color: white;
  box-shadow: 0 0px 1px 1px #ccc;
  z-index: 9;
}

h1 {
  margin: .6em 0;
}

.content-wrapper {
  margin-top: 5.6em;
}

.card {
  background-color: white;
  border: none;
  width: 90%;
  /*max-width: 800px;*/
  border-radius: .5em;
  box-shadow: -1px 1px 5px 0px rgba(204, 204, 204, .2);
  padding: 4px 32px;
  margin: 12px 8px;
  text-align: left;
  overflow: hidden;
  position: relative;
  outline: none;
}

/*.ripple {
 position: absolute;
  border-radius: 50%;
  background-color: rgba(204, 204, 204, .2);
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  opacity: 0;
}

.card:active > .ripple {
  animation: ripple 1s;
}

.card span:active {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(204, 204, 204, .2);
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  /*animation: ripple 1s;
  opacity: 0;
}*/

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(10);
  }
}

.action {
    background-color: #264A91;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    margin: 4px 4px;
    cursor: pointer;
    outline: none;
}

.action:hover {
  background-color: #163675;
}

.action:active, .action:focus {
  animation: scale .2s ease-out;
  border: none;
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
