.App {
  text-align: center;
  background-color: #EFEFF4;
  height: 100%;
}

.App-header {
  background-color: #282c34;
  position: fixed;
  width: 100%;
  height: 88px;
  font-size: 1.3em;
  color: white;
  /*box-shadow: 0 0px 1px 1px #ccc;*/
  z-index: 8;
}

h1 {
  margin: .4em 0;
}

.content-wrapper {
  padding-top: 88px;
  padding-bottom: 48px;
}

.card {
  background-color: white;
  border: none;
  width: 90%;
  /*max-width: 800px;*/
  border-radius: .5em;
  box-shadow: -1px 1px 5px 0px rgba(204, 204, 204, .2);
  padding: 8px 32px;
  margin: 12px 8px;
  text-align: left;
  position: relative;
  outline: none;
  cursor: pointer;
}

.card:hover {
  background-color: #f7f7f7;
}

.weather {
  font-weight: bold;
  font-size: 1.2em;
  padding: 8px 0;
}

.date {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 12px;
  font-weight: bold;
  font-size: 1em;
  color: #343434;
}

.description {
  color: rgba(0,0,0,.51);
  font-size: 1em;
}

/*.ripple {
 position: absolute;
  border-radius: 50%;
  background-color: rgba(204, 204, 204, 1);
  width: 100px;
  height: 100px;
  /*margin-top: 0px;
  margin-left: 0px;*/
  /*left: var(--click-x);
  top: var(--click-y);
  opacity: 1;
}

.card:active > .ripple {
  animation: ripple 1s;
}

@keyframes ripple {
  0% {
    top: var(--click-y);
    left: var(--click-x);
    opacity: 1;
    transform: scale(0);
  }
  100% {
    top: var(--click-y);
    left: var(--click-x);
    opacity: 0;
    transform: scale(10);
  }
}*/

.action {
    background-color: #264A91;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    margin: 4px 4px 16px 4px;
    cursor: pointer;
    outline: none;
}

.action:hover {
  background-color: #163675;
}

.action:active, .action:focus {
  animation: scale .1s ease-out;
  border: none;
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
