form {
    border-radius: 4px;
}

input, textarea {
    padding: 5px 10px;
    margin: 4px 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    outline: none;
    box-sizing: border-box;
}

input[type=checkbox] {
    margin: 4px 8px;
}

input:focus, textarea:focus {
    border: 1.5px solid #c0c0c0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}